mixin footer(footer)
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src='/bootstrap/js/bootstrap.bundle.js')
    footer.footer.bg-brand.mt-1
        div.container
            h7 Created by Computers by Morgan LLC
            br
            a.link-no-style(href="https://github.com/morganwright96") GitHub